* {
    font-family: cursive;
}

.Logo {
    display: flex;
    height: 100px;
    width: 100px;
}

.teto {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    flex-direction: row;

}

body {
    margin: 0;
    padding: 0;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 1320px;
    position: sticky;
    top: 0;
    height: 100px;
    background-color: #7ba96e;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    text-align: center;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #333;
    font-weight: bold;
}

section {
    padding: 20px;
}

.container {
    display: flex;
    margin: 10px 10px 10px 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    box-shadow: 0px 0px 25px grey;
    padding: 10;
    width: 221px;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 15px 15px 15px 15px;
    border-radius: 20px;
    transition: all .5s ease;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}

.box:hover {
    transition: .5s;
    transform: scale(1.1);
    z-index: 2;
}

.box .btn-second {
    position: absolute;
    top: 390px;
    color: #fff;
    font-weight: 600;
    opacity: 0;
    width: 100px;
    border-radius: 10px;
    height: 30px;
    transition: all .3s ease;
    cursor: pointer;
}

.box p {
    text-align: center;
    color: black;
    margin: 5px;
}

.box h4 {
    margin-bottom: 11px;
}

.box img {
    top: 24px;
    position: absolute;
    width: 100px;
    filter: drop-shadow(0px 4px 5px gray);
    transition: all .9s ease;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}