* {
    font-family: cursive;
}

body {
    margin: 0;
    padding: 0;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat; 
}

header {
    background-color: #7ba96e;
    background-size: cover;
    background-repeat: no-repeat; 
    padding: 15px;
    text-align: center;
}

.container {
    display: flex;
    margin: 10px 10px 10px 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}