* {
    font-family: cursive;
}

body {
    margin: 0;
    padding: 0;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #d4558a ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    text-align: center;
}